## Python Assignments

In [1]:
import re

" I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

### 1) Consider the above text as a string, figure out the average length of the string.

In [12]:
data = " I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

data_list = data.split()
avg = sum(map(len, data_list)) / len(data_list)
print(avg)

4.2063492063492065


### 2) Lower the text in the string.

In [3]:
print(data.lower())

i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

### 3) Try to get the clean text removing the punctuation from the string.

In [15]:
print(data.replace(",", "").replace(".", ""))

I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

### 4) Extract word "Data Science" from the string.

In [16]:
start = data.find("Data Science")
end = start + len("Data Science")
print(data[start : end])

Data Science

### 5) Find the frequency of words used in the string.

In [38]:
from collections import Counter

Counter(data.split())

Counter({'I': 3,
         'am': 1,
         'very': 1,
         'keen': 1,
         'in': 3,
         'building': 1,
         'up': 1,
         'my': 2,
         'career': 1,
         'Data': 1,
         'Science,': 1,
         'but': 1,
         'not': 1,
         'sure': 1,
         'from': 1,
         'where': 1,
         'to': 3,
         'start.': 1,
         'If': 1,
         'search': 1,
         'the': 2,
         'web': 1,
         'it': 1,
         'throws': 1,
         'me': 3,
         'thousands': 1,
         'of': 1,
         'articles,': 1,
         'few': 1,
         'are': 1,
         'relevant': 1,
         'others': 1,
         'make': 1,
         'confused,': 1,
         'again': 1,
         'come': 1,
         'around': 1,
         'same': 1,
         'page.': 1,
         'Supervised': 1,
         'has': 1,
         'provided': 1,
         'a': 1,
         'good': 1,
         'platform': 1,
         'remove': 1,
         'all': 1,
         'such': 1,
         'qualms': 1,
         'which': 1,
         'were': 1,
         'wrangling': 1,
         'mind': 1})

### 6) Find all the words which occurred more than once in the string.

In [46]:
c = Counter(data.split())
[{k, v} for k, v in c.items() if v > 1]

[{3, 'I'}, {3, 'in'}, {2, 'my'}, {3, 'to'}, {2, 'the'}, {3, 'me'}]

### 7) Can you change the word "Supervised" to "Unsupervised" in the string

In [8]:
print(data.replace('Supervised', 'Unsupervised'))

I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind

### 8) Splitting of the string with a dot operator(.)

In [9]:
data.split('.')

[' I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

### 9) Find the words from the string which ends with "e"

In [50]:
data_processed = re.sub("\W+", " ", data)
print([word for word in data_processed.split() if word.endswith('e')])

['Science', 'sure', 'where', 'the', 'me', 'are', 'make', 'me', 'come', 'the', 'same', 'page', 'me', 'remove', 'were']

### 10) Figure out number of a's used in the string.

In [53]:
print(data.count('a'))

22

## Questions on Dictionary

In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.

### 1) Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.

In [55]:
weekend_purchase = {"apple": "250g",
                    "sugar": "500g",
                    "rice": "2.5kg",
                    "milk": "2.5litres",
                    "egg": "1dozen"}
print(weekend_purchase)

{'apple': '250g', 'sugar': '500g', 'rice': '2.5kg', 'milk': '2.5litres', 'egg': '1dozen'}

### 2) I forgot to mention another item, 1kg of atta packet. Can you also add it ?

In [58]:
weekend_purchase.update({"atta": "1kg"})
print(weekend_purchase)

{'apple': '250g', 'sugar': '500g', 'rice': '2.5kg', 'milk': '2.5litres', 'egg': '1dozen', 'atta': '1kg'}

### 3) Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?

In [59]:
weekend_purchase.update({"rice": "1kg"})
print(weekend_purchase)

{'apple': '250g', 'sugar': '500g', 'rice': '1kg', 'milk': '2.5litres', 'egg': '1dozen', 'atta': '1kg'}

### 4) Can you list out all these items using a loop.

In [63]:
for key, val in weekend_purchase.items():
    print(key, val)

apple 250g
sugar 500g
rice 1kg
milk 2.5litres
egg 1dozen
atta 1kg

However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.

### 1) Create another dictionary for pricing.

In [66]:
item_price = {"apple": 220, "sugar": 43, "rice": 45, "milk": 30, "egg": 60}
print(item_price)

{'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'egg': 60}

### 2) Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries !

In [67]:
bill = {}
conventions = ('kg', 'g', 'litres', 'dozen')
for item, quantity in weekend_purchase.items():
    for unit_item, price in item_price.items():
        if item == unit_item:
            if 'g' in quantity:
                if 'kg' in quantity:
                    bill.update({item: price * float(quantity.replace('kg', ''))})
                else:
                    bill.update({item: price * float(quantity.replace('g', '')) / 1000})
            elif 'dozen' in quantity:
                bill.update({item: price * float(quantity.replace('dozen', ''))})
            elif'litres' in quantity:
                bill.update({item: price * float(quantity.replace('litres', ''))})

print(sum(bill.values()))

256.5

### Questions on List

ai_companies = \["Amazon", "Facebook", "HiSilicon", "Google", "Apple", "Microsoft", "SenseTime"\]

### 1) Sort the list in ascending order

In [68]:
ai_companies = ["Amazon", "Facebook", "HiSilicon", "Google", "Apple", "Microsoft", "SenseTime"]
ai_companies.sort()
print(ai_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime']

### 2) Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list

In [69]:
ai_companies.extend(['Nvidia', 'OpenAI' , 'Qualcomm', 'Reliance'])
print(ai_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm', 'Reliance']

### 3) Lower the list using List comprehension

In [70]:
print([company.lower() for company in ai_companies])

['amazon', 'apple', 'facebook', 'google', 'hisilicon', 'microsoft', 'sensetime', 'nvidia', 'openai', 'qualcomm', 'reliance']

### 4) Elimiate 'Reliance' from the list

In [71]:
ai_companies.remove('Reliance')
print(ai_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm']

### 5) Extract 'Facebook', 'Google' and 'Microsoft' using a single command

In [72]:
ai_companies = ["Amazon", "Facebook", "HiSilicon", "Google", "Apple", "Microsoft", "SenseTime"]
print(ai_companies[1::2])

['Facebook', 'Google', 'Microsoft']

### Questions on Tuple

### 1) Consider the above standard price problem statement and place the prices in the form of the tuple.

In [74]:
tup = (("apple", 220), ("sugar", 43), ("rice", 45), ("milk", 30), ("egg", 60))
print(tup)

(('apple', 220), ('sugar', 43), ('rice', 45), ('milk', 30), ('egg', 60))

### 2) Find out the min and max price among them.

In [75]:
print(max(tup, key=lambda item:item[1]))
print(min(tup, key=lambda item:item[1]))

('apple', 220)
('milk', 30)

### 3) Also, convert the above "AI_companies" list to a tuple.

In [76]:
ai_companies = ["Amazon", "Facebook", "HiSilicon", "Google", "Apple", "Microsoft", "SenseTime"]
ai_companies_tup = tuple(ai_companies)
print(ai_companies_tup)

('Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime')

### 4) Combine two above tuples to a single tuple.

In [77]:
combined_tuple = tup + ai_companies_tup
print(combined_tuple)

(('apple', 220), ('sugar', 43), ('rice', 45), ('milk', 30), ('egg', 60), 'Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime')

### 5) Compare the length of two tuples.

In [78]:
print(len(commodity_price_tup))
print(len(ai_companies_tup))

5
7